<div id="vr-card-group" style="display: flex;">
    <div class="vr-card" style="width: 18rem;">
      <!-- IMG -->
      <img src="{{producto.imgUrl}}" class="card-img-top" alt="img-libro-1">
      <button class="btn-gold-micro-alone"><i class="bi bi-heart"></i></button>
      <!-- PROD INFO -->
      <div class="card-body">
        <h5 class="card-title">{{producto.titulo}}</h5>
        <p class="card-text">{{producto.autor}}</p>
        <p class="price">$ {{producto.precioVenta}}</p>
      </div>
      <!-- CART SITUATION -->
      <div class="cart-situation">
        <button class="btn-red-micro-alone" href="#"><i class="bi bi-trash-fill"></i></button>
        <div class="manage-amount">
            <button (click)="less()" class="btn-out-micro-alone"><i class="bi bi-dash-lg"></i></button>
            <input [(ngModel)]="cantd" class="input-micro + .amount-number" type="number" maxlength="4">
            <button (click)="plus()" class="btn-out-micro-alone"><i class="bi bi-plus-lg"></i></button>
        </div>
        <button (click)="addCart(producto)" class="btn-green-micro-alone" href="#"><i class="bi bi-cart-fill"></i></button>
      </div>
    </div>
  </div>