<p>gestionproductos works!</p>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Cod</th>
        <th scope="col">Titulo</th>
        <th scope="col">Autor</th>
        <th scope="col">Editor</th>
        <th scope="col">pags</th>
        <th scope="col">stock</th>
        <th scope="col">Vendedor</th>
        <th scope="col">$ costo</th>
        <th scope="col">$ venta</th>
        <th scope="col">Fecha de compra</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>45</td>
        <td>12</td>
        <td>titulo del libro</td>
        <td>fulano de tal</td>
        <td>una</td>
        <td>85</td>
        <td>sultano</td>
        <td>68</td>
        <td>900</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>