<!-- BREADCRUMB -->
<div style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Gestión</li>
    </ol>
</div>

<!-- ADD Y FILTRO -->
<app-gestion-usuarios-filtro></app-gestion-usuarios-filtro>

<!-- TABS -->
<app-gestion-tabs></app-gestion-tabs>

<!-- TABLA -->
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let item of tableTitle" scope="col">{{item.title}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of usu">
      <td>{{item.nombre}}</td>
      <td>{{item.apellido}}</td>
      <td>{{item.email}}</td>
      <td>{{item.telefono}}</td>
      <td>{{item.direccion}}</td>
      <td>
        <button class="btn-green-micro-alone"><i class="bi bi-pen-fill"></i></button>
        <button class="btn-red-micro-alone"><i class="bi bi-trash-fill"></i></button>
      </td>
    </tr>
  </tbody>
</table>
