<!-- BREADCRUMB -->
<app-breadcrumb></app-breadcrumb>
<div style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Productos</li>
    </ol>
</div>

<!-- SEARCH Y FILTRO -->
<div class="search-filtro">
  <app-productos-filtro></app-productos-filtro>
</div>
  
<!-- CARDS DE PRODUCTOS -->
<div class="vr-card-group">
  <app-producto-card *ngFor="let productos of prod" [producto]="productos"></app-producto-card>
  <!-- clase 14 01.20 -->
</div>