<!-- BREADCRUMB -->
<app-breadcrumb></app-breadcrumb>
<div style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Productos</li>
    </ol>
</div>

<!-- SEARCH Y FILTRO -->
<div class="search-filtro">
  <app-productos-filtro></app-productos-filtro>
</div>
  
<!-- CARDS DE PRODUCTOS -->
<div id="vr-card-group" style="display: flex;">
  <div class="vr-card" style="width: 18rem;" *ngFor="let item of prod">
    <!-- IMG -->
    <img src="{{item.imgUrl}}" class="card-img-top" alt="img-libro-1">
    <button class="btn-gold-micro-alone"><i class="bi bi-heart"></i></button>
    <!-- PROD INFO -->
    <div class="card-body">  
      <h5 class="card-title">{{item.titulo}}</h5>
      <p class="card-text">{{item.autor}}</p>
      <p class="price">$ {{item.precioVenta}}</p>
    </div> 
    <!-- CART SITUATION -->
    <div class="cart-situation">
      <button (click)="deleteItem(productos)" class="btn-red-micro-alone" href="#"><i class="bi bi-trash-fill"></i></button>
      <div class="manage-amount">
          <button (click)="less()" class="btn-out-micro-alone"><i class="bi bi-dash-lg"></i></button>
          <input [(ngModel)]="cantd" class="input-micro + .amount-number" type="number" maxlength="4">
          <button (click)="plus()" class="btn-out-micro-alone"><i class="bi bi-plus-lg"></i></button>
      </div>
      <button (click)="addCart(productos)" class="btn-green-micro-alone" href="#"><i class="bi bi-cart-fill"></i></button>
    </div>
  </div>
</div>
