<!-- BREADCRUMB -->
<div style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Gestión</li>
    </ol>
</div>

<!-- FILTRO Y ADD -->
<app-gestion-productos-filtro></app-gestion-productos-filtro>

<!-- TABS -->
<app-gestion-tabs></app-gestion-tabs>

<!-- TABLA -->
<table class="table">
  <thead>
    <tr>
      <!-- TITULOS DE LA TABLA -->
      <th *ngFor="let item of tableTitle" scope="col"> {{item.title}} </th> 
    </tr>
  </thead>
  <tbody>
    <!-- ITEMS DE LA TABLA -->
    <tr *ngFor="let item of prod">
      <td>{{item.codigo}}</td>
      <td><img src="{{item.imgUrl}}" style="max-width: 50px;"></td>
      <td>{{item.titulo}}</td>
      <td>{{item.autor}}</td>
      <td>{{item.editorial}}</td>
      <td>{{item.capitulo}}</td>
      <td>{{item.proveedor}}</td>
      <td>{{item.fechaCompra}}</td>
      <td>{{item.stock}}</td>
      <td>{{item.precioCosto}}</td>
      <td>{{item.precioVenta}}</td>
      <td>
        <button class="btn-green-micro-alone" routerLink="/gestion/crearproducto/{{item.codigo}}" (click)="update(item)"><i class="bi bi-pen-fill"></i></button>
        <button class="btn-red-micro-alone"><i class="bi bi-trash-fill"></i></button>
      </td>
    </tr>
  </tbody>
</table>

    