<p>login works!</p>
<div class="all">
    <div class="users">
        <button>Soy cliente</button>
        <button>Trabajo en la tienda</button>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock-fill"></i></span>
        <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
    </div>

    <button class="users">Login</button>
    <div class="foo">
        <p class="small">No tienes una cuenta? No te preocupes, puedes <u><a class="small" [routerLink]="'/newuser'">registrarte aquí</a></u></p>
    </div>
</div>
