  <!-- NAVBAR -->
  <nav>
    <button aria-current="page" [routerLink]="'/'">Home</button>
    <button [routerLink]="'/productos'">Productos</button>
    <button [routerLink]="'/inventario'">Inventario</button>
    <button [routerLink]="'/caja'">Caja</button>
    <form>
      <input type="search" placeholder="Search" aria-label="Search">
      <button type="submit">Search</button>
    </form>
  </nav>
  
  <div class="content">
    <!-- vdrr89 // ACORDARSE SIEMPRE DE ESTE DE ABAJO!!!! -->
    <router-outlet></router-outlet>
  </div>