  <!-- NAVBAR -->
  <nav>
    <button aria-current="page" [routerLink]="'/'"> {{link1}} </button>
    <button [routerLink]="'/productos'"> {{link2}} </button>
    <button [routerLink]="'/gestionproductos'"> {{link3}} </button> <!-- este tendría que verse solo para admins -->
    <button [routerLink]="'/caja'"> {{link4}} </button>
    <form>
      <input type="search" placeholder="Search" aria-label="Search">
      <button type="submit">Search</button>
      <button [routerLink]="'/login'"> {{rightbtn}} </button>
    </form>
    
  </nav>
  
  <div class="content">
    <!-- vdrr89 // ACORDARSE SIEMPRE DE ESTE DE ABAJO!!!! -->
    <router-outlet></router-outlet>
  </div>

  <footer></footer>