<p>productos works!</p>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="cart-situation">
          <div class="manage-amount">
              <button>-</button>
              <input class="amount-number" type="number" maxlength="4">
              <button>+</button>
          </div>
          <button href="#">Cart</button>
          <button class="negative-button" href="#">Del Cart</button>
      </div>
      
    </div>
  </div>