<!-- BREADCRUMB -->
<div style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Productos</li>
  </ol>
</div>

<!-- CARDS DE PRODUCTOS -->
<p *ngIf="data.length == 0">{{noHay}}</p>

<div id="vr-card-group" style="display: flex;" *ngIf="data.length > 0">
  <div class="vr-card" style="width: 18rem;" *ngFor="let item of data">
    <img src="https://bit.ly/3vYiswQ" class="card-img-top" alt="img-libro-1">
    <div class="card-body">
      <h5 class="card-title"> {{item.title}} </h5>
      <p class="card-text"> {{item.description}} </p>
      <p class="price">$ {{item.price}} </p>
    </div>
    <div class="cart-situation">
      <div class="manage-amount">
          <button class="btn-out-micro"><i class="bi bi-dash-lg"></i></button>
          <input class="input-micro + .amount-number" type="number" maxlength="4">
          <button class="btn-out-micro"><i class="bi bi-plus-lg"></i></button>
      </div>
      <button class="btn-green-micro" href="#"><i class="bi bi-cart-fill"></i></button>
      <button class="btn-red-micro" href="#"><i class="bi bi-trash-fill"></i></button>
    </div>
  </div>
</div>
