<nav>
  <button id="home" class="btn-nav" aria-current="page" [routerLink]="'/'"> <i class="bi bi-house-fill"></i> </button>
  <button id="productos" class="btn-nav" [routerLink]="'/productos'"> Productos </button>
  <button id="gestion" class="btn-nav" [routerLink]="'/gestion/productos'"><i class="bi bi-kanban-fill"></i></button> <!-- este tendría que verse solo para admins -->
  <button id="cart" class="btn-nav" [routerLink]="'/caja'"><i class="bi bi-cart-fill"></i></button>
  <form>
    <input id="search-inp" type="search" placeholder="Search" aria-label="Search">
    <button id="search-btn" class="btn-nav" type="submit"><i class="bi bi-search"></i></button>
    <button id="login" class="btn-nav" [routerLink]="'/login'"><i class="bi bi-person-fill"></i></button>
  </form>
</nav>