#contactoypago {
    margin-top: 20px;
}

.p-siefectivo {
    margin-top:10px;
}

.label-siefectivo{
    margin-right: 10px;
}

.medio-de-pago-items {
	list-style: none;
}

.medio-de-pago-items > li {
    display: inline-block;
}

.medio-de-pago-text {
    margin-left: 5px;
    margin-right: 15px;
}

.bottom-buttons-right {
    margin-right: 1%;
    float: right;
}

.bottom-buttons-left {
    margin-left: 1%;
    float: left;
}