<!-- BREADCRUMB -->
<app-breadcrumb></app-breadcrumb>
<div style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Caja</li>
    </ol>
  </div>
  
  <!-- CAJA --> 
  
  <!-- PRODUCTOS CONFIRM -->
  <div id="all-form" class="all-form">
    <table class="table">
      <!-- CART TITLE -->
      <thead>
        <tr>
          <th scope="col" *ngFor="let item of CartTitle">{{item.title}}</th>
        </tr>
      </thead>
      <!-- CART ITEMS -->
      <tbody>
        <tr *ngFor="let producto of CartContent">
          <td>{{producto.producto}} </td>
          <td>{{producto.codigo}}</td>
          <td>{{producto.precioVenta}}</td>
          <td>
            <button class="btn-green-micro-alone"><i class="bi bi-pen-fill"></i></button>
            <button class="btn-red-micro-alone"><i class="bi bi-trash-fill"></i></button>
          </td>
        </tr>
      </tbody>
      <!-- CART FOOTER -->
      <tfoot>
        <tr>
          <td *ngFor="let item of CartFooter">{{item.footer}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>
            <button class="btn-green" href="#"><i class="bi bi-cart-fill"></i></button>
            <button class="btn-red" href="#"><i class="bi bi-trash-fill"></i></button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  
<!-- CONTACTO Y PAGO -->
<div id="contactoypago" class="all-form">
  <!-- CONTACTO -->
  <div>
    <!-- DIRECCION -->
    <div class="mb-3">
      <label for="direccion" class="form-label">Direccion</label>
      <input type="text" class="form-control" id="direccion-input" placeholder="Direccion">
    </div>
    <!-- TELEFONO -->
    <div class="mb-3">
      <label for="telefono" class="form-label">Telefono</label>
      <input type="text" class="form-control" id="telefono" placeholder="Telefono">
    </div>
  </div>
  <hr>

    <!-- MEDIO DE PAGO -->
  <div>
    <!-- EFECTIVO -->
    <div class="form-check form-check-inline">
      <input type="radio" name="efectivo" id="efectivo" value="efectivo">
      <label class="form-check-label" for="efectivo">Efectivo</label>
    </div>
    <!-- TARJETA -->
    <div class="form-check form-check-inline">
      <input type="radio" name="tarjeta" id="tarjeta" value="tarjeta">
      <label class="form-check-label" for="tarjeta">Tarjeta</label>
    </div>
    <!-- MERCADOPAGO -->
    <div class="form-check form-check-inline">
      <input type="radio" name="mercadopago" id="mercadopago" value="mercadopago">
      <label class="form-check-label" for="mercadopago">MercadoPago</label>
    </div>
  </div>

  <!-- DETALLE MEDIO DE PAGO -->
  <div>
    <div id="siefectivo">
      <label class="label-siefectivo" for="entregamonto">Con cuanto va a pagar</label>
      <input class="input-siefectivo" type="number" placeholder="con cuanto va a pagar" name="entregamonto">
      <p class="p-siefectivo" id="devuelvemonto">Monto a devolver: $</p>
    </div>
    <div id="sitarjeta">

    </div>
    <div id="simercadopago">

    </div>
  </div>
  <hr>

  <!-- COMENTARIOS -->
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</div>