CARD
img {
    max-height: 100px;
    width: auto;
}

.vr-card-group {
    display: flex; 
}

.vr-card {
    display: relative; /* flex no va */
    border: solid 1px gray;
    margin: 10px;
    padding: 15px;
}

.price {
    font-size: x-large;
    font-weight: 800;
    text-align: center;
}

.btn-gold-micro-alone {
    display: flex;
    left: 200px;
    top: 50px;
}

/* CART */
.cart-situation{
    text-align:center;
}

.manage-amount{
    display: inline
}
