/* 
FIX: 
- iluminar más cuando button hover
*/

.content {
    padding: 15px;
}

.options {
    text-align: center;
}

/* ---------------------- GENERALES ---------------------- */

/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");


/* 
color principal: #6ca2e0 (azul claro)
color principal claro: #aacaee
color principal oscuro: #225ea3 (azul link)

color secundario: #1abc9c (verde agua)
color secundario claro: #62eace
color secundario oscuro: #12876f

color especial (hover links): #1abc9c (verde agua)

links color principal: #225ea3 (azul link)
links color secundario: #323dbd (azul violeta)

guardar color para otro momento: #fdfcf7 (casi blanco beige)

funte princial: ubuntu
fuente secundaria: roboto condensed
*/

/* ---------------------- FUENTES ---------------------- */

/* Roboto para títulos */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
/* font-family: 'Roboto Condensed', sans-serif; */

/* Ubuntu para texto */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;1,300;1,500&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

/* para íconos desde texto */
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap');
/* font-family: 'Corben', cursive; */

/* ---------------------- SELECCIONES ---------------------- */

*::selection {
    background-color: #1abc9c;
    }
  
  /* ---------------------- HACHES ---------------------- */
  
  h1, h2, h3, h4 {
      color: #262626;
      text-shadow: 2px 2px #ffffff;
      font-size: 4rem;
      font-weight: 800;
      font-family: 'Roboto Condensed', sans-serif;
      text-align: center;
    }
  
  h5, h6 {  /* es igual pero más chiquito */
    color: #262626;
    text-shadow: 2px 2px #ffffff;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
  }
    
  /* ---------------------- PES ---------------------- */
  
    p, li, label, td, blockquote {
      color: #262626;
      font-size: 1.2rem;
      line-height: 1.8rem;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 400;
    }
  
    th, button, .special {
      color: #262626;
      font-size: 1.2rem;
      line-height: 1.8rem;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 800;
      text-shadow: 2px 2px 2px #64626246;
    }
    
    .small {
      color: #262626; 
      font-weight: 400; 
      font-size: 1rem;
      line-height: 1.5rem;
    }
  
    .longText{
      max-width: 800px;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
    }
  
    blockquote {
      font-style: italic;
    }
  
  /* ---------------------- LIS ---------------------- */
  
    li{
      list-style: none;
    }
  
  /* ---------------------- AS ---------------------- */
  
  a {
    color: #225ea3;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
  }
  
  a:link, 
  a:visited,
  nav > a:link, 
  nav > a:visited {
    text-decoration: none;
    color: #323dbd;
  }
  
  a:hover, 
  nav > a:hover {
    text-decoration: none;
    color:#1abc9c;
  }
  
  /* ---------------------- TABLES ---------------------- */
  
  th, td {
    padding:0.5vw;
  }
  
  /* ---------------------- BUTTON AND INPUT ---------------------- */
  
  button,
  nav > button {
    background-color: #6ca2e0;
    color: #fff;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0px;
    box-shadow: 2px 2px 4px #000000;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px #0000001a;
  }
  
  button:hover,
  nav > button:hover {
    background-color: #1abc9c;
    box-shadow: 0px 15px 20px #12876f;
    transform: translateY(7px);
    color: #fff;
  }

  button > a,
  nav > button > a {
      color:#fff;
  }
  
  .negative-button {
    background-color: #9b0b0b;
  }

  .negative-button:hover {
    background-color: #ff2020;
    box-shadow: 0px 15px 20px #9b0b0b80;
  }

  input {
    margin: 4px;
    border-radius: 0px;
    padding: 16px 32px;
    margin: 4px 2px;
    border-color: #0303035e;
    border-style: solid;
    border-width: 1px;
    } 

/* ---------------------- DIAGRAMACIÓN ---------------------- */
/* ---------------------- MENU NAVBAR ---------------------- */
nav {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    display: inline-block;
    background-color: #6ca2e0;
    box-shadow: 2px 2px 4px #00000023;
    width: 100%;
}

nav > form {
    margin-right: 1%;
    float: right;
    margin: 4px 2px
}

/* PC CHICA */
@media screen and (max-width:900px) {
  button,
  nav > button {
    padding: 8px 16px;
    margin: 4px 2px;
  }

  input {
    padding: 8px 16px;
    margin: 4px 2px;
  }
}

/* TABLET */
@media screen and (max-width: 760px) {
    nav {
        float: none;
    }
  }

  /* ---------------------- CARRITO ---------------------- */

.set-units {
  list-style: none;
  display: inline;
}