/* FIX: 
- iluminar más cuando nav button hover
*/

/* ---------------------- GENERALES ---------------------- */

/* 

MAMARRACHO: no puede ser que hayan 2 colores principales

NAV / THEME:

PRINCIPAL: 
#6ca2e0 // (azul claro)
#aacaee // claro
#225ea3 // oscuro (azul link en txt)

  SECUNDARIO: 
  #1abc9c // (verde agua) -- nav links hover
  #62eace // claro
  #12876f // oscuro

COLOR INACTIVO:
#3d4b57 // (gris con fuerza)
#222a3180 // oscuro

color RED (no): #9b0b0b (rojo)
color red oscuro: #9b0b0b transp 80

color GREEN (ok): #1abc9c (verde agua)
color green claro: #62eace
color green oscuro: #12876f

LINKS color principal: #225ea3 (azul link)
links color secundario: #323dbd (azul violeta)

guardar color para otro momento: #fdfcf7 (casi blanco beige)

*/

/* ---------------------- FUENTES ---------------------- */

/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

/* Oswald para títulos */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* font-family: 'Oswald', sans-serif; */

/* Open Sans para texto */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* font-family: 'Open Sans', sans-serif; */

/* para íconos desde texto */
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap');
/* font-family: 'Corben', cursive; */

/* ---------------------- SELECCIONES ---------------------- */

*::selection {
    background-color: #1abc9c;
    }
  
/* ---------------------- HACHES ---------------------- */
  
  h1, h2, h3, h4 {
      color: #262626;
      text-shadow: 2px 2px #ffffff;
      font-size: 4rem;
      font-weight: 400;
      font-family: 'Oswald', sans-serif;
      text-align: center;
    }
  
  h5, h6 {  /* es igual pero más chiquito */
    color: #262626;
    text-shadow: 2px 2px #ffffff;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-align: center;
  }
    
  /* ---------------------- PES ---------------------- */
  
    p, li, label, td, blockquote {
      color: #262626;
      font-size: 1.2rem;
      line-height: 1.8rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
    }
  
    .special {
      color: #262626;
      font-size: 1.2rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      text-shadow: 2px 2px 2px #64626246;
    }

    th, button {
      color: #262626;
      font-size: 1.2rem;
      line-height: 1.8rem;
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      text-shadow: 2px 2px 2px #64626246;
    }
    
    .small {
      font-family: 'Open Sans', sans-serif;
      color: #262626; 
      font-weight: 400; 
      font-size: 1rem;
      line-height: 1.5rem;
    }
  
    .longText{
      font-family: 'Open Sans', sans-serif;
      max-width: 800px;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
    }
  
    blockquote {
      font-style: italic;
    }
  
  /* ---------------------- LIS ---------------------- */
  
    li{
      list-style: none;
    }
  
  /* ---------------------- AS ---------------------- */
  
  a {
    color: #225ea3;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
  
  a:link, 
  a:visited,
  nav > a:link, 
  nav > a:visited {
    text-decoration: none;
    color: #323dbd;
  }
  
  a:hover {
    text-decoration: none;
    color:#1abc9c;
  }
  
  /* ---------------------- TABLES ---------------------- */
  
  th, td {
    padding:0.5vw;
  }
  
  /* ---------------------- BUTTON INPUT FORMS ---------------------- */
  
  /* BTN NAV */
  .btn-nav {
    font-family: 'Oswald', sans-serif;
    background-color: #6ca2e0;
    color: #fff;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0px;
    box-shadow: 2px 2px 4px #000000;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px #0000001a;
  }
  
  .btn-nav:hover {
    background-color: #1abc9c;
    box-shadow: 0px 15px 20px #12876f;
    transform: translateY(7px);
    color: #fff;
  }

  .btn-nav > a {
      color:#fff;
  }
  
/* BTN OUT */
  .btn-out {
    margin: 4px 2px;
    padding: 16px 32px;
    border-radius: 0px;
    cursor: pointer;
    color: #3d4b57;
    border-color: #3d4b57;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }
  
  .btn-out:hover, 
  .btn-out-micro:hover,
  .btn-out-micro-alone:hover {
    color: #fff;
    background-color: #3d4b57;
    border-color: #3d4b57;
    box-shadow: 0px 15px 20px #697c8dad;
    transform: translateY(7px);
  }

  .btn-out:focus, 
  .btn-out-micro:focus {
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
  }
  
  .btn-out:active, 
  .btn-out-micro:active {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }

  /* BTN GEEN & RED */
  .btn-green {
    margin: 4px 2px;
    padding: 16px 32px;
    border-radius: 0px;
    cursor: pointer;
    color: #1abc9c;
    border-color: #1abc9c;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }

  .btn-green:hover, 
  .btn-green-micro:hover,
  .btn-green-micro-alone:hover {
    color: #fff;
    background-color: #1abc9c;
    transform: translateY(7px);
    box-shadow: 0px 15px 20px #12876f80
  }

  .btn-red {
    margin: 4px 2px;
    padding: 16px 32px;
    border-radius: 0px;
    cursor: pointer;
    color: #9b0b0b;
    border-color: #9b0b0b;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }

  .btn-red:hover, 
  .btn-red-micro:hover,
  .btn-red-micro-alone:hover {
    color: #fff;
    background-color: #9b0b0b;
    box-shadow: 0px 15px 20px #9b0b0b80;
    transform: translateY(7px);
  }


  /* BTN !MICRO */
  /* OUT GREEN RED GOLD */
  
  .btn-out-micro {
    margin: 2px 1px;
    padding: 4px;
    border-radius: 0px;
    cursor: pointer;
    color: #3d4b57;
    border-color: #3d4b57;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }

  .btn-green-micro {
    margin: 2px 1px;
    padding: 4px;
    border-radius: 0px;
    cursor: pointer;
    color: #1abc9c;
    border-color: #1abc9c;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }

  .btn-red-micro {
    margin: 2px 1px;
    padding: 4px;
    border-radius: 0px;
    cursor: pointer;
    color: #9b0b0b;
    border-color: #9b0b0b;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }

/* BTN MICRO !ALONE */
/* OUT GREEN RED GOLD */
  
.btn-out-micro-alone {
  margin: 2px 1px;
  padding: 4px;
  border-radius: 0px;
  cursor: pointer;
  color: #3d4b57;
  border-color: transparent;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}

.btn-green-micro-alone {
  margin: 2px 1px;
  padding: 4px;
  border-radius: 0px;
  cursor: pointer;
  color: #1abc9c;
  border-color: transparent;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}

.btn-red-micro-alone {
  margin: 2px 1px;
  padding: 4px;
  border-radius: 0px;
  cursor: pointer;
  color: #9b0b0b;
  border-color: transparent;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}

  
.btn-gold-micro-alone {
  margin: 2px 1px;
  padding: 4px;
  border-radius: 0px;
  cursor: pointer;
  color: goldenrod;
  border-color: transparent;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}

.btn-gold-micro-alone:hover {
  color: #fff;
  background-color: goldenrod;
  box-shadow: 0px 15px 20px #7c5e12;
  transform: translateY(7px);
}

/* FORM */
  .form-box {
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }

  input, 
  .input {
    border-radius: 0px;
    padding: 16px 32px;
    margin: 4px 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #0303035e;
    } 

  .input-micro {
    border-radius: 0px;
    margin: 2px 1px;
    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #0303035e;
    max-width: 70px;
  }

  label {
    padding: 10px 0;
    font-size: 16px;
    color: #0303035e;
    pointer-events: none;
    transition: .5s;
  }

/* para que el formulario no ocupe toda la pantalla */
.all-form {
  margin:0 auto;
  padding: 10px;
  max-width: 800px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000b2;
}

/* ---------------------- DIAGRAMACIÓN ---------------------- */

/* ---------------------- MENU NAV Y FOOTER ---------------------- */
nav {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    display: inline-block;
    background-color: #6ca2e0;
    box-shadow: 2px 2px 4px #00000023;
    width: 100%;
}

nav > form {
    margin-right: 1%;
    float: right;
    margin: 4px 2px
}

footer {
  position: fixed;
  position: -webkit-sticky; /* Safari */
  display: inline-block;
  background-color: #131b25;
  box-shadow: 2px 2px 4px #00000023;
  bottom: 0px;
  width: 100%;
}

footer > ul {
  margin: auto;
}

footer > ul > li {
  color: #fff;
  margin: 10px;
}

footer > ul > li:hover {
  color: #fff;
}

/* ---------------------- MEDIA SCREEN ---------------------- */

/* PC CHICA */
@media screen and (max-width:900px) {
  button,
  nav > button {
    padding: 8px 16px;
    margin: 4px 2px;
  }

  input, 
  .input {
    padding: 8px 16px;
    margin: 4px 2px;
  }
}

/* TABLET */
@media screen and (max-width: 760px) {
    nav {
        float: none;
    }
  }

  /* ---------------------- CARRITO ---------------------- */

.set-units {
  list-style: none;
  display: inline;
}