<!-- BREADCRUMB -->
<app-breadcrumb></app-breadcrumb>
<div style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Caja</li>
  </ol>
</div>

<!-- CAJA -->
<div id="all-form" class="all-form">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Cod</th>
        <th scope="col">Title</th>
        <th scope="col">$</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
          <button class="btn-green-micro"><i class="bi bi-pen-fill"></i></button>
          <button class="btn-red-micro"><i class="bi bi-trash-fill"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td><i class="bi bi-currency-dollar"></i>Tot</td>
      </tr>
      <tr>
        <button class="btn-green" href="#"><i class="bi bi-cart-fill"></i></button>
        <button class="btn-red" href="#"><i class="bi bi-trash-fill"></i></button>
      </tr>
    </tfoot>
  </table>
</div>
