<button class="btn-out"><i class="bi bi-filter" (click)="showFilter()"></i></button>
<input [(ngModel)]="searchInput" (keyup)="filterByAll()" id="search-input" type="search" placeholder="Search" aria-label="Search">
<button (click)="filterByAll()" id="search-btn" class="btn-nav" type="submit"><i class="bi bi-search"></i></button> 

<div *ngIf="filterDropdown" class="all-form small">

    <div (click)="openPriceOptions()" class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Precio</label>
    </div>

    <div *ngIf="priceOptions">

        <select class="form-select inline-list" aria-label="Default select example">
            <option selected>$ min</option>
            <option value="1">0</option>
            <option value="2">100</option>
            <option value="3">500</option>
            <option value="4">1000</option>
            <option value="5">2500</option>
        </select>

        <select class="form-select inline-list" aria-label="Default select example">
            <option selected>$ max</option>
            <option value="1">100</option>
            <option value="2">500</option>
            <option value="3">1000</option>
            <option value="4">2500</option>
            <option value="5">5000</option>
        </select>

    </div>

</div>