.inline-list{
    display: inline;
    list-style-type: none;
    margin: 10px;
    max-width: 120px;
    
    margin: 2px 1px;
    padding: 4px;

    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #0303035e;
}

.all-form {
    cursor: context-menu;
}