.carousel-control-prev,
.carousel-control-next, 
.carousel-indicators {
    font-size: 8rem;
    font-weight: 800;
    font-family: 'Corben', cursive;
}

/* CONTENEDOR DE IMGS DE CAROUSEL */
.carousel-inner {
    max-height: 400px;
}