  <!-- CAROUSEL DE PRODUCTOS -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <!-- CAROUSEL CONTAINER -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
          <!-- CAROUSEL INDICATORS -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>   
          <!-- CAROUSEL CONTAINER -->
          <div class="carousel-inner">
              <!-- CAROUSEL ITEM PACK CONTAINER -->
            <div class="carousel-item">
              <div class="row">
                  <!-- CARD CONTENT AND TAGS -->
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <img src="/examples/images/products/ipad.jpg" class="img-fluid" alt="">
                    </div>
                    <!-- CARD CONTENT -->
                    <div class="thumb-content">
                      <h4>Articulo1</h4>
                      <p class="item-price">$400</p>
                      <a class="btn-green-micro-alone"></a>
                    </div>						
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>  